*.java linguist-detectable=true
*.cls linguist-detectable=false
*.frm linguist-detectable=false
*.frx linguist-detectable=false
*.ctl linguist-detectable=false
*.ctx linguist-detectable=false
*.vbp linguist-detectable=false
*.vbg linguist-detectable=false
*.bas linguist-detectable=false
*.bas linguist-detectable=false
*.cls linguist-detectable=false
*.ctl linguist-detectable=false
*.ctx linguist-detectable=false
*.dca linguist-detectable=false
*.ddf linguist-detectable=false
*.dep linguist-detectable=false
*.dob linguist-detectable=false
*.dox linguist-detectable=false
*.dsr linguist-detectable=false
*.dsx linguist-detectable=false
*.dws linguist-detectable=false
*.frm linguist-detectable=false
*.frx linguist-detectable=false
*.log linguist-detectable=false
*.oca linguist-detectable=false
*.pag linguist-detectable=false
*.pgx linguist-detectable=false
*.res linguist-detectable=false
*.tlb linguist-detectable=false
*.vbg linguist-detectable=false
*.vbl linguist-detectable=false
*.vbp linguist-detectable=false
*.vbr linguist-detectable=false
*.vbw linguist-detectable=false
*.vbz linguist-detectable=false
*.wct linguist-detectable=false
*.dll linguist-detectable=false
*.exe linguist-detectable=false
*.ocx linguist-detectable=false
*.vbd linguist-detectable=false
*.wct linguist-detectable=false
